/dist
*.egg-info/
__pycache__/
.coverage
.DS_Store
.tox
.venv
/htmlcov
.vscode
*_version.py
houdini_version.txt
/dependency_bundle/
/scripts/dependency_bundle/
/dev_install/
/wheels/
**/otls/backup
plugin_env
