# Build artifacts
/dist
/dependency_bundle/
/scripts/dependency_bundle/
/dev_install/
/wheels/

# License file for InstallBuilder
license.xml

*.egg-info/
__pycache__/
.coverage
.tox
/htmlcov
**/otls/backup
plugin_env

# Hatch version temp file
*_version.py
houdini_version.txt

# Extensions for installers, etc.
*.run
*.exe
*.zip
*.app
*.dmg

# virtualenv
.venv

# IDE
.vscode

# macOS
.DS_Store